@charset "utf-8";
/* CSS Document */

#wrapper{
	width:890px;
	margin:auto;
	}

#topbar{
		width:890px;
		margin:auto;
		}	
#topnav{
		}
#topnav ul {
	padding:0px;
	margin:0px;
	list-style:none;
	}	

#topnav ul li{
	background:url(../images/btn_bg.png) no-repeat;
	width:109px;
	height:30px;
	text-align:center;
	padding-top:10px;
	margin-right:2px;
	float:left;
	}	
	
#topnav ul li a{
	color:#fff;
	text-decoration:none;
	}			

	
#topnav ul li a:hover{
	color:#000;
	text-decoration:none;
	}				
	
#maincontent{
	background:url(../images/mid_bg.png) repeat-y;
	top:4px;
	}	
	
#searchbar{
	background:url(../images/mainImagebg.png) no-repeat top;
	height:373px;
	}	

#searchcontainer{width:820px; margin:auto; padding-top:30px;}	

#suche{
	width:385px;
	float:left;
	}

#suche label{height:50px; padding-left:10px; font-size:30px; color:#0d5c9e; font-weight:bold;}

#suche ul{margin:0px; padding:0px;}
#suche ul li{float:left; list-style:none; width:150px; color:#0a336b; font-weight:bold; font-size:20px;}

#suche ul li li{background:url(../images/imgbullette.png) no-repeat bottom left; font-size:14px; display:block; height:15px; color:#006f8f; font-weight:normal; padding:2px;}

#suche ul li li{padding-left:20px;}

#suche ul li li a{
	padding-top:8px;
	display:block;
	height:20px;
	color:#006f8f;
	text-decoration:none;
	}

#suche ul li li a:hover{
	color:#000;
	}	
#loginpanel{
	background: url(../images/login_bg.png) no-repeat;
	width:322px;
	height:173px;
	float:right;
	}	
.logintitle{color:#176cad; padding-left:45px; padding-top:8px; margin:0px;}

#loginpanel ul{margin:0px; padding:0px;}

#loginpanel ul li{float:left; list-style:none; width:150px; color:#0a336b; font-weight:bold; font-size:20px;}

#loginpanel ul li li{background:url(../images/imgbullette.png) no-repeat bottom left; font-size:14px; display:block; height:15px; color:#006f8f; font-weight:normal; padding:2px;}

#loginpanel ul li li{padding-left:20px;}

#loginpanel ul li li a{
	padding-top:8px;
	display:block;
	height:20px;
	color:#006f8f;
	text-decoration:none;
	}

#loginpanel ul li li a:hover{
	color:#000;
	}	
.frmuname{background:url(../images/txtbx_large.png) no-repeat; height:25px;}
.txtbox{background:none; border:0px; width:200px;}

#loginbox a{color:#d90057; font-size:11px; text-decoration:none;}
#loginbox a:hover{color:#000; text-decoration:none;}
	
#searchpanel{
	padding-top:20px;
	color:#0d5c9e;
	font-size:12px;
	position:relative;
		}

.bgtxtsearch{
	background:url(../images/txtsearch.png) no-repeat;

	}		

.txtsearch{
	border:0px;
	background:none;
	}	

#searchpanel table{background:url(../images/searchpanelbg.png) no-repeat;}		


#contentarea{width:820px; margin:auto; padding-top:60px;}	



#featuredproperty, #byproperty{width:185px; margin-right:40px; float:left; background:url(../images/panelbg.png) bottom no-repeat;}
.sectiontitle{margin:0px; color:#0d5c9e; font-size:12px; font-weight:bold; border-bottom:1px dashed #0d5c9e;}

#newsEvents{ width:370px; float:right; background:url(../images/panelbg.png) bottom no-repeat;}

#newsEvents img{
	padding-right:8px;

}
.newproducts{
	border-bottom:1px dashed #000;
	padding:3px;
	font-color:#000; 
	font-weight:normal;	
	}

.footborder{
	background:url(../images/bottom.png) no-repeat;
	height:23px;
	}
	
.morelink{width:30px; text-align:right; float:right;}	
.morelink a{
	color:#0d5c9e;
	font-size:11px;
	text-decoration:none;
}	

.morelink a:hover{color:#000;}
.clear{clear:both;}	